<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to GauMeo's SHOP page :)</h1>
            <h3>Manage Products &amp; Sold them</h3>
            <br>
            <a href="../user/register" class="btn btn-success btn-lg">Sign In</a>
        </div>
    </header>
